.map{
        height: 300px !important;
    }


@media screen and (max-width:770px) {
    .map{
        height: 250px !important;
    }
}
/* @media screen and (max-width:770px) {
    .map{
        height: 200px !important;
    }
} */
